.underline-on-hover-link:hover {
    text-decoration: underline
}

body {
    background-color: #002439;
}

.details{
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
}
